In [ ]:
#Install Notes 
#Open a terminal and run: conda install -c conda-forge scipy
#then conda install -c conda-forge tqdm

In [1]:
from google.cloud import bigquery
import pandas as pd
from tqdm import tqdm


def get_num_description_column(col_name, table_name):
    """
    Takes a column name and a table name, returning a string with descriptive 
    statistics for the column specified.

    Calculates the mean, median, max, min and IQR for the specified column using 
    BigQuery SQL and returns a string with the results concatenated together.

    Args:
        col_name (str): The name of a the numeric column.
        table_name (str): The name of the table containing the specified column.

    Returns:
        str: A string with the mean, median, max, min and IQR for the specified column.
    """
    sql_query = f"""
        WITH stats AS (
            SELECT
                AVG({col_name}) AS mean,
                MAX({col_name}) AS max,
                MIN({col_name}) AS min,
                APPROX_QUANTILES({col_name}, 2)[OFFSET(1)] AS median,
                APPROX_QUANTILES({col_name}, 4)[OFFSET(1)] AS q1,
                APPROX_QUANTILES({col_name}, 4)[OFFSET(3)] AS q3
            FROM `{table_name}`
        )
        SELECT CONCAT('Mean: ', CAST(mean AS STRING),  
                      ', Median: ', CAST(median AS STRING), 
                      ', Max: ', CAST(max AS STRING), 
                      ', Min: ', CAST(min AS STRING),  
                      ', IQR: ', CAST(q3 - q1 AS STRING))
        FROM stats
    """
    return pd.read_gbq(sql_query).iloc[0,0]


def get_date_description_column(col_name, table_name):
    """
    Takes a column name and a table name, returning a string with the min and max 
    dates.

    Calculates the min and max dates for the specified column using BigQuery SQL 
    and returns a string with the results concatenated together.

    Args:
        col_name (str): The name of a date column.
        table_name (str): The name of the table containing the specified column.

    Returns:
        str: A string with the min and max dates for the specified column.
    """
    sql_query = f"""
        WITH stats AS (
            SELECT 
                MAX({col_name}) AS max_date, 
                MIN({col_name}) AS min_date 
            FROM `{table_name}`
        )
        SELECT
            CONCAT('From: ', CAST(min_date AS STRING), 
                   ' To: ', CAST(max_date AS STRING))
        FROM stats
    """
    return pd.read_gbq(sql_query).iloc[0,0]


def get_bool_description_column(col_name, table_name):
    """
    Takes a column name and a table name, returning a the count of `True` and 
    `False` values.

    Calculates the count of `True` and `False` values for the specified column 
    using BigQuery SQL and returns a string with the results concatenated 
    together.

    Args:
        col_name (str): The name of the boolean column.
        table_name (str): The name of the table containing the specified column.

    Returns:
        str: A string with the count of `True` and `False` values for the 
             specified column.
    """
    sql_query = f"""
        WITH stats AS (
            SELECT
                COUNTIF({col_name} = TRUE) AS true_count,
                COUNTIF({col_name} = FALSE) AS false_count
            FROM `{table_name}`
        )
        SELECT
            CONCAT('False: ', CAST(false_count AS STRING), 
                   ', True: ', CAST(true_count AS STRING))
        FROM stats
    """
    return pd.read_gbq(sql_query).iloc[0,0]


def get_string_description_column(col_name, table_name):
    sql_query = f"""
        WITH top_entries AS (
            SELECT {col_name}, COUNT(*) AS count
            FROM `{table_name}`
            GROUP BY {col_name}
            ORDER BY count DESC
            LIMIT 5 
        ),
        total_entries AS (
            SELECT COUNT(DISTINCT {col_name}) AS total_count
            FROM `{table_name}` 
        )
        SELECT IF((SELECT total_count FROM total_entries) > 5, 
                   CONCAT('Top 5: ', STRING_AGG(CONCAT({col_name}, ': ', 
                          CAST(count AS STRING)), ', ')), 
                   STRING_AGG(CONCAT({col_name}, ': ', 
                              CAST(count AS STRING)), ', '))
        FROM top_entries
    """
    return pd.read_gbq(sql_query).iloc[0,0]


def create_data_dict(dataset_id):
    
    """
    Create a data dictionary table for a BigQuery dataset.
    
    Takes the ID of a BigQuery dataset and creates a data_dict table in the same 
    dataset. `data_dict` contains information about tables in the 
    dataset with names prefixed " tbl_" or "cb_":
    table name, column name, data type, and a summary 
    description of each column. `description` column includes summary statistics 
    for numeric columns (mean, median, IQR, min,  max), the number of unique 
    values and top 5 values for string columns, the  date range for date 
    columns, and the count of True and False values for boolean columns. 
    
    Args:
        dataset_id (str): The ID of the BigQuery dataset.
        
    Output:
        None - `data_dict` table is uploaded to biqquery dataset at "dataset_id"
    """
    
    client = bigquery.Client()
    dataset_ref = client.dataset(dataset_id)
    tables = list(client.list_tables(dataset_ref))
    rows = []
    table_count = 0
    output_dict = {
        "table_name": [],
        "column_name": [],
        "data_type": [],
        "description": []
    }
    for table in tables:
        if table.table_id.startswith("tbl_") or table.table_id.startswith("cb_"):
            table_count += 1
            print(f"Processing table {table_count} of {len(tables)}: {table.table_id}")
            table_ref = dataset_ref.table(table.table_id)
            table = client.get_table(table_ref)
            for schema_field in tqdm(table.schema):
                output_dict["table_name"].append(table.table_id)
                output_dict["column_name"].append(schema_field.name)
                output_dict["data_type"].append(schema_field.field_type)
                full_table_id = f"{dataset_id}.{table.table_id}"
                if schema_field.field_type == "STRING":
                    output_dict["description"].append(
                        get_string_description_column(schema_field.name, 
                                                      full_table_id) 
                    )
                elif schema_field.field_type in ["INTEGER", "FLOAT", "NUMERIC"]:
                    output_dict["description"].append(
                        get_num_description_column(schema_field.name, 
                                                      full_table_id) 
                    )
                elif schema_field.field_type in ["DATE", "TIMESTAMP", "DATETIME"]:
                    output_dict["description"].append(
                        get_date_description_column(schema_field.name, 
                                                      full_table_id) 
                    )
                elif schema_field.field_type in ["BOOL", "BOOLEAN"]:
                    output_dict["description"].append(
                        get_bool_description_column(schema_field.name, 
                                                      full_table_id) 
                    )
    output_df = pd.DataFrame(output_dict)
    output_df.to_gbq(f"{dataset_id}.data_dictionary", progress_bar=False)
    print("Finished creating data_dict table")

In [2]:
create_data_dict("CB_FDM_DepartmentForEducation_V2")

Processing table 1 of 49: cb_CIN_2009_to_2019_Disability

100%|██████████| 4/4 [00:05<00:00,  1.37s/it]

Processing table 2 of 49: cb_MappingCodes

100%|██████████| 2/2 [00:01<00:00,  1.13it/s]

Processing table 3 of 49: cb_QualCodes

100%|██████████| 2/2 [00:01<00:00,  1.49it/s]

Processing table 4 of 49: tbl_Census

100%|██████████| 99/99 [01:25<00:00,  1.15it/s]

Processing table 5 of 49: tbl_ChildrenInNeed

100%|██████████| 41/41 [00:25<00:00,  1.63it/s]

Processing table 6 of 49: tbl_ChildrenInNeed_2009_to_2019

100%|██████████| 56/56 [00:32<00:00,  1.73it/s]

Processing table 7 of 49: tbl_ChildrenLookedAfter

100%|██████████| 30/30 [00:17<00:00,  1.71it/s]

Processing table 8 of 49: tbl_ChildrenLookedAfter_2006_to_2019

100%|██████████| 29/29 [00:16<00:00,  1.71it/s]

Processing table 9 of 49: tbl_EYFSP

100%|██████████| 182/182 [01:47<00:00,  1.69it/s]

Processing table 10 of 49: tbl_Exclusions_All

100%|██████████| 160/160 [01:51<00:00,  1.43it/s]

Processing table 11 of 49: tbl_ILR_Aims

100%|██████████| 279/279 [03:00<00:00,  1.55it/s]

Processing table 12 of 49: tbl_ILR_Learner_1819

100%|██████████| 259/259 [02:31<00:00,  1.70it/s]

Processing table 13 of 49: tbl_KS1

100%|██████████| 124/124 [01:12<00:00,  1.70it/s]

Processing table 14 of 49: tbl_KS1_1998_to_2019

100%|██████████| 113/113 [01:15<00:00,  1.50it/s]

Processing table 15 of 49: tbl_KS2_1999_to_2019

100%|██████████| 466/466 [05:53<00:00,  1.32it/s]

Processing table 16 of 49: tbl_KS2_exam

100%|██████████| 52/52 [00:42<00:00,  1.24it/s]

Processing table 17 of 49: tbl_KS2_exam_formatted

100%|██████████| 50/50 [00:34<00:00,  1.43it/s]

Processing table 18 of 49: tbl_KS2_formatted

100%|██████████| 467/467 [05:40<00:00,  1.37it/s]

Processing table 19 of 49: tbl_KS2_pupil

100%|██████████| 467/467 [04:38<00:00,  1.67it/s]

Processing table 20 of 49: tbl_KS3Exam_2007_to_2008

100%|██████████| 31/31 [00:18<00:00,  1.64it/s]

Processing table 21 of 49: tbl_KS3TA_2009_to_2013

100%|██████████| 62/62 [00:38<00:00,  1.61it/s]

Processing table 22 of 49: tbl_KS3_exam

100%|██████████| 31/31 [00:20<00:00,  1.52it/s]

Processing table 23 of 49: tbl_KS3_pupil

100%|██████████| 195/195 [02:00<00:00,  1.61it/s]

Processing table 24 of 49: tbl_KS4_exam

100%|██████████| 237/237 [03:10<00:00,  1.24it/s]

Processing table 25 of 49: tbl_KS4_pupil

100%|██████████| 661/661 [06:40<00:00,  1.65it/s]

Processing table 26 of 49: tbl_KS5_exam

100%|██████████| 84/84 [00:53<00:00,  1.56it/s]

Processing table 27 of 49: tbl_KS5_pupil

100%|██████████| 648/648 [06:44<00:00,  1.60it/s]

Processing table 28 of 49: tbl_NCCIS_2011_to_2019

100%|██████████| 33/33 [00:23<00:00,  1.41it/s]

Processing table 29 of 49: tbl_Phonics

100%|██████████| 19/19 [00:10<00:00,  1.78it/s]

Processing table 30 of 49: tbl_Phonics_2012_to_2019

100%|██████████| 19/19 [00:10<00:00,  1.79it/s]

Processing table 31 of 49: tbl_ProgressTestsYr7

100%|██████████| 45/45 [00:26<00:00,  1.72it/s]

Processing table 32 of 49: tbl_ProgressTests_Year_2001_to_2007

100%|██████████| 46/46 [00:27<00:00,  1.66it/s]

Processing table 33 of 49: tbl_YPMAD_Indicators_1819_Chronological

100%|██████████| 186/186 [02:04<00:00,  1.50it/s]

Processing table 34 of 49: tbl_YPMAD_Indicators_1819_Snapshot

100%|██████████| 127/127 [01:11<00:00,  1.76it/s]

Processing table 35 of 49: tbl_absence

100%|██████████| 107/107 [01:06<00:00,  1.60it/s]

Processing table 36 of 49: tbl_census

100%|██████████| 100/100 [01:28<00:00,  1.13it/s]

Processing table 37 of 49: tbl_change_log

100%|██████████| 7/7 [00:04<00:00,  1.60it/s]

Processing table 38 of 49: tbl_post16

100%|██████████| 42/42 [00:29<00:00,  1.44it/s]

Finished creating data_dict table